# frozen_string_literal: true

module __APP_CLASS__
  module __RESOURCE_MODULE__
    class __ACTION_VIEW_CLASS__View < Charming::View
      def render
        "__RESOURCE_NAME__"
      end
    end
  end
end
