# frozen_string_literal: true

module __APP_CLASS__
  module Layouts
    class ApplicationLayout < Charming::View
      def render
        screen_layout(background: theme.background) do
          pane(style: centered) do
            yield_content
          end
        end
      end

      private

      def centered
        style.align(:center).align_vertical(:middle)
      end
    end
  end
end
